<div class="home-banner-container primary-bg-color">
    <div class="container">
        <div class="row">
            <div class="col-md-5">
                <div class="banner-text text-white">
                    <h1>Competitive examinations are moving online.</h1>
                    <p>Is your coaching institute ready?</p>
                    <div class="btn-banner"><a routerLink="/Test_Online/Test" class="btn btn-primary">Start Test</a></div>
                    </div>
            </div>
            <div class="col-md-7"><img src="/assets/images/banner.png" class="img-fluid"/></div>
        </div>
    </div>
</div>

<section class="cources-test mt-5">
    <div class="container">
        <h2 class="text-center">UPPSC / UPPCS Prelims and Mains Test Series – About US</h2>
        <p class="text-center mb-5">Uttar Pradesh Public Service Commission ( UPPSC ) has come through age and in recent examinations, they showed that the traditional way of teaching and materials won’t suffice. Target PCS is a platform, where UPPSC / UPPCS Prelims and Mains Online Test Series aspirants can help each other and grow.</p>
        <div class="row">
            <div class="col-md-4">
                <div class="test-block">
                    <h4>UPPCS 2021<span>Prelims Test Series.</span></h4>
                    <a href="#" class="btn btn-primary">Click Here</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="test-block">
                    <h4>UPPCS 2021<span>Mains Test Series.</span></h4>
                    <a href="#" class="btn btn-primary">Click Here</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="test-block">
                    <h4>UPPCS Pattern<span>Current Affairs Magazines.</span></h4>
                    <a href="#" class="btn btn-primary">Click Here</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="test-block">
                    <h4>UPPCS Review Officer RO ARO 2021<span>Prelims Test Series.</span></h4>
                    <a href="#" class="btn btn-primary">Click Here</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="test-block">
                    <h4>UP Sub-Inspector(SI)<span>Test Series.</span></h4>
                    <a href="#" class="btn btn-primary">Click Here</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="test-block">
                    <h4>Rajasthan RPSC RAS<span>Prelims Test Series.</span></h4>
                    <a href="#" class="btn btn-primary">Click Here</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="top-scorer mt-2">
<div class="container">
    <h2 class="text-center">Top Scorer</h2>
    <div class="top-scor-lits mt-4">
        <owl-carousel-o [options]="ScorereSlider">
            <ng-template carouselSlide>
                <div class="slide">
                    <div class="scroer-block">
                    <div class="UserImg">
                        <img src="./assets/images/Ellipse-1.png">
                    </div>
                    <h5>Vineeta Sharma</h5>
                    <span><strong>Scrore: </strong> <span>90</span> out of 100</span>
                </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <div class="scroer-block">
                        <div class="UserImg">
                            <img src="./assets/images/Ellipse-2.png">
                        </div>
                        <h5>Vineeta Sharma</h5>
                        <span><strong>Scrore: </strong> <span>85</span> out of 100</span>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <div class="scroer-block">
                        <div class="UserImg">
                            <img src="./assets/images/Ellipse-3.png">
                        </div>
                        <h5>Vineeta Sharma</h5>
                        <span><strong>Scrore: </strong> <span>80</span> out of 100</span>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <div class="scroer-block">
                        <div class="UserImg">
                            <img src="./assets/images/Ellipse-4.png">
                        </div>
                        <h5>Vineeta Sharma</h5>
                        <span><strong>Scrore: </strong> <span>79.1</span> out of 100</span>
                    </div>
                </div>
            </ng-template>
            <ng-template carouselSlide>
                <div class="slide">
                    <div class="scroer-block">
                        <div class="UserImg">
                            <img src="./assets/images/Ellipse-3.png">
                        </div>
                        <h5>Vineeta Sharma</h5>
                        <span><strong>Scrore: </strong> <span>80</span> out of 100</span>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</div>
</section>

<section class="mt-5 testimonials">
    <div class="heading-sty text-center">
        <h2><span>What people are saying</span>About Us ?</h2>
    </div>
    <div class="container" style="max-width: 800px;">
        <owl-carousel-o [options]="testimonialSlider">
            <ng-template carouselSlide>
                <div class="slide">
                    <div class="scroer-block test-block">
                    <div class="UserImg">
                        <img src="./assets/images/Ellipse-1.png">
                    </div>
                    <div class="test-text">
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <div class="text-right">
                            <h5>Vineeta Sharma</h5>
                            <span>Exam Competitor</span>
                        </div>
                </div>
                </div>
                </div>
            </ng-template>

            <ng-template carouselSlide>
                <div class="slide">
                    <div class="scroer-block test-block">
                        <div class="UserImg">
                            <img src="./assets/images/Ellipse-1.png">
                        </div>
                        <div class="test-text">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                            <div class="text-right">
                                <h5>Vineeta Sharma</h5>
                                <span>Exam Competitor</span>
                            </div>
                    </div>
                    </div>
                </div>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>

<section class="mt-5">
    <div class="bg-light contactcontainer">
        <div class="container">
            <div class="row">
                <div class="col-lg-5">
                    <h2>Contact us</h2>
                    <div class="contactbox">
                        <div class="conicon"><i class="icon-phone icons"></i></div>
                        <div class="contxt">
                            <h6>Phone Number</h6>
                            1-604-396-8018, 1-844-967-2388
                        </div>
                    </div>
                    
                    <div class="contactbox">
                        <div class="conicon"><i class="icon-envelope icons"></i></div>
                        <div class="contxt">
                            <h6>Email Address</h6>
                            info@targetpcslucknow.com
                        </div>
                    </div>
                    
                    <div class="contactbox">
                        <div class="conicon"><i class="icon-location-pin icons"></i></div>
                        <div class="contxt">
                            <h6>Address</h6>
                            24611 Fraser Hwy, Langley City, BC V2Z 2L2.
                        </div>
                    </div>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-6">
                    <h3><span>Get</span> in Touch</h3>
                    <div class="conforms">
                        <form>
                      <div class="row">
                        <div class="col-lg-6">
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Name">
                          </div>
                        </div>
                        <div class="col-lg-6">
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Email">
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                      <div class="form-group">
                          <input type="text" class="form-control" placeholder="Phone No.">
                            </div>
                        </div>
                      </div>
                      <div class="row">
                        <div class="col-lg-12">
                      <div class="form-group">
                          <textarea class="form-control" placeholder="Message"></textarea>
                            </div>
                        </div>
                      </div>
                      <div class="text-right"><button class="btn btn-primary">Submit</button></div>
                    </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>