<footer class="mt-auto">
    <div class="footebottom">
      <div class="container">
        <div class="row align-items-end">
         <div class="col-lg-8">
            <a class="navbar-brand" routerLink="/"><img src="/assets/images/logo.png" style="max-width: 200px;"></a>
             <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
         <div class="footerlinks">
             <a href="#">Privacy Policy</a> | <a href="#">Terms & Conditions</a> | <a href="#">About us</a> | <a href="#">Faqs</a> | <a href="#">Contact us</a>
         </div>
            </div>
          
          <div class="col-lg-4">
            <div class="header-right">
              <ul class="list-unstyled">
                <li class="list-inline-item"><a href="#" class="icon-social-facebook icons"></a></li>
                <li class="list-inline-item"><a href="#" class="icon-social-linkedin icons"></a></li>
                <li class="list-inline-item"><a href="#" class="icon-social-twitter icons"></a></li>
              </ul>
              
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footerbottm"><div class="container"><p>Copyright © 2021. All Rights Reserved</p></div></div>
  </footer>
